body {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(245.59deg, rgba(77, 149, 89, 1) 0%, rgba(56, 112, 61, 1) 28.53%, rgba(19, 57, 23, 1) 75.52%);
  height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 8vw;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}
h4 {
  margin-bottom: 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.5vw;
}
header a:hover {
text-decoration: underline;
}

header a {
  color: white;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Main Section */


section {
  position: absolute;
  left: 7vw;
  top: 7vw;
  width: 40%;
  height: 80%;
}

.main {
  display: grid;
  place-items: left; 
  font-size: 1.5vw;

}
.buttons-container {
  display: grid;
  grid-template-columns: 15vw 15vw;
  grid-template:  1fr 2fr;

}

.buttons {
  color: white;
  border-width: 1px;
  border-radius: 25px;
  padding: 1vw 1vw;
  margin: 0 1vw;
  font-size: 1vw;
  text-align: center;
}

  .buttoncompare {
    background-color: rgba(77, 149, 89, 1);
    border-color: rgba(255, 255, 255, 0.007);
  }

  .buttongameplay {
    background-color: rgba(77, 149, 89, 1);
    border-color: rgba(255, 255, 255, 0);
  }
  .button-icon {
    vertical-align: middle;
    width: 1vw; 
    height: 1vw;}

  button:hover {
    background-color: rgba(34, 141, 61, 0);
    border-color: white;
  }

  /*aside*/

  .social-icons {
    position: absolute;
    bottom: 5vw;
    left: 0vw;
    display: flex;
    flex-direction: column;
    color: rgba(172, 172, 172, 0);
  }

  .social-icons a {
    color: white;
    font-size: 40px;

  }

  .social-icons a:hover {
    color: rgba(77, 149, 89, 1);
    /* Couleur de l'icône au survol */
  }

  footer {
    position: absolute;
    padding: 1vw;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer-content {
    display: grid;
    place-items: center;
  }

  img {
    position: absolute;
    margin-top: 5vw;
    width: 45vw;
    right: 5vw;
  }
  /* Styles de base pour tous les appareils */
/* ... */

/* Styles à appliquer pour les téléphones mobiles avec une largeur maximale de 767 pixels */
@media (max-width: 767px) {
  img {
    width: 25vw;
    
  /* Styles spécifiques aux téléphones mobiles */
  /* ... */
}}

/* Styles à appliquer pour les tablettes avec une largeur minimale de 768 pixels */
@media (min-width: 768px) {
  /* Styles spécifiques aux tablettes */
  /* ... */
}

/* Styles à appliquer pour les ordinateurs de bureau et les écrans larges avec une largeur minimale de 1200 pixels */
@media (min-width: 1200px) {
  /* Styles spécifiques aux ordinateurs de bureau et écrans larges */
  /* ... */
}
  